.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #camera {
    margin-bottom: 1rem;
  }
  
  .capture {
    padding: 1rem 2rem;
    background-color: rgb(130, 145, 239);
    border: none;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .capture:hover {
    background-color:rgb(47, 66, 194);
  }
  